
<!DOCTYPE html>
<html lang="en">
<head
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <style>
  body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
  .w3-bar,h1,button {font-family: "Montserrat", sans-serif}
  .fa-anchor,.fa-coffee {font-size:200px}
    .carousel-inner img {
    width: 100%;
    height: 100%;
  }
  </style>
  <style>
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}


@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
</style>
    <title>Home</title>
</head>
<body>

    <!-- Header -->
<header class="w3-container w3-red w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">IMAGE ENCRYPTION DECRYPTION TOOL</h1>
  <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top"><a href="/encryption">Encryption</a></button>
  <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top"><a href="/decryption">Decryption</a></button>
</header>

    <div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Encryption</h1>
      <p class="w3-text-grey">This functionality allows the user to encrypt the images.The script lets you hide an image by encoding it into the least significant bit positions of a subset of pixels in another image. The encoded image can be afterwards decoded and recovered without any information loss.The encoding takes two images as the input. The first image is the one that we want to use to hide something in.The second image is the one that we want to hide and conceal in the first image.The first image, used for hiding, has to satisfy the condition that the number of its pixels is at least two times bigger than that of the image which we hide.

The result of the encoding is an image that visually should not look much different from the original image, but the least significant bits of a subset of pixels are replaced with the pixel information of the image that we want to hide.


</p>
    </div>

    <div class="w3-third w3-center">
      <i class="fa fa-lock w3-padding-64 w3-text-red" style = "font-size:150px"></i>
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i class="fa fa-unlock w3-padding-64 w3-text-red w3-margin-right" style = "font-size:150px" ></i>
    </div>

    <div class="w3-twothird">
      <h1>Decryption</h1>

      <p class="w3-text-grey">Decryption is the functionality to decode the encrypted image which is hidden under the cover image.The decoding takes an image with another image encoded inside as the input.The decoded output image is identical to the image that was hidden and encoded in another image.</p>
    </div>
  </div>
</div>

<div class="about-section">
  <h1>About Us</h1>
</div>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="media/aboutus/anina.jpg" alt="Jane" style="width:100%">
      <div class="container">
        <h2>Anina Pillai</h2>
        <p class="title">1811034 | TY Comps A</p>
        <p>anina.pillai@somaiya.edu</p>

      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="media/aboutus/final.jpg" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Jigyassa Lamba</h2>
        <p class="title">1811020 | TY Comps A</p>
        <p>jigyassa.l@soamiya.edu</p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="media/aboutus/aaditya.jpg" alt="John" style="width:100%">
      <div class="container">
        <h2>Aaditya Mahadevan</h2>
        <p class="title">1811022 | TY Comps A</p>
        <p>a.mahadevan@somaiya.edu</p>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">  
  <div class="w3-xlarge w3-padding-32">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
 </div>
</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>
</body>
</html>