<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta charset="utf-8">
  <meta name="viewport"
content="width=device-width, initial-scale=1">
  <link rel="stylesheet"
href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
</script>
  <script src=
"https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js">
</script>
  <style>
  body,h1,h2,h3,h4,h5,h6 {font-family: "Belleza", sans-serif}
  .w3-bar,h1,button,a {font-family: "Montserrat", sans-serif}
  .fa-anchor,.fa-coffee {font-size:200px}
    .carousel-inner img {
    width: 100%;
    height: 100%;
  }
  </style>
    <title>Encryption</title>
</head>
<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" style="color: #272343;" >Image Encryption Tool</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/encryption/">Encryption</a></li>
            <li><a href='/decryption/'>Decryption</a></li>
          </ul>
        </div>
      </nav>
    <header class="w3-container w3-center" style="padding:2% 10%; background-color: #272343;">
  <h1 class="w3-margin w3-jumbo" style="color: white;">ENCRYPTION</h1>
</header>
<center>
    <div class="container" style="margin-top: 5%;">
    {% if countIs1 %}
    <h1>Upload Secret Image</h1>
    {% elif countIs2 %}
    <h1>Images Uploaded Successfully</h1>
    {% else %}
    <h1>Upload Cover Image</h1>
    {% endif %}
    <br><br>
    
        <form action="." method="post"  enctype="multipart/form-data">

            {% csrf_token %}
            {{form.as_p}}
            <br><br>
           
            <button type="submit" class="btn btn-lg btn" style="background-image:linear-gradient(#9ba4b4, #9ba4b4)">Upload</button>
        </form>
       <br>
        <hr>

      
        {% for x in img %}
        {% if forloop.first %}<div class="row " style="margin-left: 300px;">{% endif %}
            <div class="col-lg-4 col-md-4 col-12"  >
          <div class="text-center mt-2">
            <img src="{{x.image.url}}"  height="70%" width="70%" class="img-thumbnail" alt="..." >
            <h2 class="text-center" >{{x.text}}</h2></div>
            </div>
            {% if forloop.counter|divisibleby:3 %}
        </div>
        <div class=row>{% endif %}
        
            {% if forloop.last %}</div>{% endif %}
    
        {% endfor %}
        {% if countIs2 %}
        <button type="submit" class="btn btn-lg btn" style="background-image:linear-gradient(#9ba4b4, #9ba4b4)"><a href="/encryption/result" style="color: #14274e;">Encrypt</a></button>
        {% endif %}
        <br><br><br>
    </div>
  </center>
</body>
</html>