<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encryption</title>
</head>
<body>
    {% if obj %}
    <h1>Images Successfully Uploaded</h1>
    {% else %}
    <h1>Upload message image and cover image</h1>
    {% endif %}
    <div class="container">
      
        <form action="." method="post"  enctype="multipart/form-data">

            {% csrf_token %}
            {{form.as_p}}
           
            <button type="submit" class="btn btn-lg btn-success">Upload</button>
        </form>
       
        <hr>

      
        {% for x in img %}
        {% if forloop.first %}<div class="row ">{% endif %}
            <div class="col-lg-4 col-md-4 col-12" >
        <div class="text-center mt-2">
            <img src="{{x.image.url}}"  height="30%" width="30%" class="img-thumbnail" alt="...">
            <h2 class="text-center" >{{x.text}}</h2></div>
            </div>
            {% if forloop.counter|divisibleby:3 %}
        </div>
        <div class=row>{% endif %}
        
            {% if forloop.last %}</div>{% endif %}
    
        {% endfor %}
        {% if countIs2 %}
        <button><a href="/encryption/result">Click</a></button>
        {% endif %}
    </div>
</body>
</html>